.inverse {
<<<<<<< HEAD
  background-color: #223946;
  color: #79C0B0;
}

#
#Mystic
#HEX: #E1E9EA
#RGB: rgb(225,233,234)
#BIAS: 100%
#Te Papa Green
#HEX: #223946
#RGB: rgb(34,57,70)
#BIAS: 74%
#Genoa
#HEX: #14817C
#RGB: rgb(20,129,124)
#BIAS: 90%
#Neptune
#HEX: #79C0B0
#RGB: rgb(121,192,176)
#BIAS: 87%
=======
  background-color: #223845;
  color: #E7E0DE;
}
>>>>>>> 7f6d8168419152a3ad2abda492967cf002cf70c1
